@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

h1 {
  font-family: 'Bungee Spice', cursive;
  font-size: 50px;
}

body {
    background-color: rgb(36, 36, 36);
}

ul {
  font-family: 'Noto Sans', sans-serif;
  color: #d3cfab;
  font-size: 24px;
  padding-bottom: 15%;
}

button {
  margin: 30px auto 0;
  padding: 20px 25px;
  background-color: #979696;
  color: #524133;
  font-family: 'Caveat', cursive;;
  font-size: 25px;
  text-align: center;
  border: 1px solid #524133;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 4px;
  outline: none;
}

button:hover {
  transition: 0.8s;
  background-color: #5b5861;
  color: #F69680;
  text-decoration: underline;
}

  
  
